---
// src/pages/blog/[...slug].astro
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import TableOfContents from '../../components/TableOfContents.astro';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  return allPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, summary } = post.data;
const { headings } = await post.render();
---
<Layout title={title} description={summary}>
  <Container size="xl">
    <TopLayout entry={post} />
    <aside class="hidden md:block w-auto flex-shrink-0">
      <div class="sticky top-16">
        <TableOfContents headings={headings} />
      </div>
    </aside>
    <BottomLayout entry={post} />
  </Container>
</Layout>
