---
// src/pages/blog/[...slug].astro
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import TableOfContents from '../../components/TableOfContents.tsx';
import BackToTop from '../../components/BackToTop.tsx';
import {getHeadings } from '../../lib/utils';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  return allPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, summary } = post.data;
const { Content } = await post.render();
const headings = await getHeadings(post.body);;

---
<Layout title={title} description={summary}>
  <Container size="xl">
    <div class="flex justify-center">
      <div class="w-full max-w-auto">
        <TopLayout entry={post} />
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4 items-start">
      <div class="flex-grow w-full max-w-screen">
        <div class="flex flex-col md:flex-row gap-16 items-start w-full flex-grow">
          <article class="prose flex-grow">
            <Content />
          </article>
          <div class="sticky bg-[var(--color-bg)] items-center justify-center md:justify-start flex flex-row md:flex-col bottom-0 md:top-16 md:w-auto w-full h-fit md:flex-shrink-0 gap-2 py-4">
            <div class="flex md:flex-col justify-start overflow-x-hidden w-screen md:w-auto">
            	<div class="flex-grow items-start w-full">
              	<TableOfContents headings={headings} client:load />
              </div>
              <div class="flex justify-end flex-shrink-0 md:justify-start">
                <BackToTop client:visible />
              </div>
            </div>
          </div>
        </div>
        <BottomLayout entry={post} />
      </div>
    </div>
  </Container>
</Layout>