---
// src/pages/blog/[...slug].astro
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import TableOfContents from '../../components/TableOfContents.tsx';
import BackToTop from '../../components/BackToTop.tsx';
import { ContentWrapper } from '../../components/ContentWrapper.tsx';


export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  return allPosts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, summary } = post.data;
const { Content, headings } = await post.render();
const isMDX = /\.mdx$/i.test(post.id);

---
<Layout title={title} description={summary}>
  <Container size="xl">
    <div class="flex justify-center">
      <div class="w-full max-w-auto">
        <TopLayout entry={post} />
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4 items-start">
      <div class="flex-grow w-full max-w-auto">
        <div class="flex flex-col md:flex-row gap-16 items-start">
          <article class="prose">
            
            <Content components={isMDX ? ContentWrapper : {}} />
          </article>
          <div class="sticky items-center justify-center md:justify-start flex flex-row md:flex-col bottom-0 md:top-22 md:w-auto w-full h-auto md:flex-shrink-0 gap-2">
            <TableOfContents client:load headings={headings} />
            <BackToTop client:visible />
          </div>
        </div>
        <BottomLayout entry={post} />
      </div>
    </div>
  </Container>
</Layout>
