---
import { getCollection } from 'astro:content';
import { BLOG } from "../../consts";
import BaseLayout from '../../layouts/BaseLayout.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import Container from "../../components/Container.astro";
import BlogList from '../../components/BlogList.tsx';
import Navigation from '../../components/Navigation.astro';


const posts = (await getCollection('blog')).filter(p => !p.data.draft);

const categories = [...new Set(
  posts
    .map(post => post.data.category)
    .filter((cat): cat is string => typeof cat === 'string')
)];

const estimated_initial_size =
  28 + posts.length * 158 + (posts.length - 1) * 12;
---
  <BaseLayout title={BLOG.TITLE} description={BLOG.DESCRIPTION}>
    <TopLayout>
      <section class="hero py-6">
        <div class="flex flex-col justify-start text-left">
          <h1 class="text-2xl md:text-3xl font-bold uppercase text-[var(--color-fg)]">
            {BLOG.TITLE}
          </h1>
          <p class="text-sm md:text-base opacity-75">
            {BLOG.DESCRIPTION}
          </p>
        </div>
      </section>
    </TopLayout>
  
    <Container size="lg">
      <section id="main" class="border border-[var(--color-border)] p-8">
        <div style={{ minHeight: `${estimated_initial_size}px` }}>
          <script type="text/javascript">
            atOptions = {
              'key' : '9ec096002c2fad1b9d684a8a1057f653',
              'format' : 'iframe',
              'height' : 60,
              'width' : 468,
              'params' : {}
            };
          </script>
          <script type="text/javascript" src="//www.highperformanceformat.com/9ec096002c2fad1b9d684a8a1057f653/invoke.js"></script>
          <BlogList client:load posts={posts} categories={categories} />
        </div>
      </section>
    </Container> 
    <BottomLayout>
      <section id="navigation-section">
        <Navigation />
      </section>	
    </BottomLayout>
  </BaseLayout>
