---
// src/components/Footer.astro
import { SITE, SOCIALS } from "../consts"

const currentYear = new Date().getFullYear();
---

<footer class="border-t border-[var(--color-border)]">
	<div class="overflow-hidden whitespace-nowrap container mx-auto w-auto justify-center py-6 pl-4 pr-1">
		<div class="h-full grid grid-cols-1 sm:grid-cols-2 gap-3">
			<div class="order-2 sm:order-1 flex flex-col items-center justify-center sm:items-start">
				<a href="/terms" class="hover:text-[var(--color-fg)]">Ketentuan</a>
				<span>/</span>
				<a href="/privacy" class="hover:text-[var(--color-fg)]">Privasi</a>
				<div class="text-center md:text-right">
        				&copy; {currentYear} <a href="/" class="hover:text-[var(--color-fg)]">{SITE.TITLE}</a>. All rights reserved.
				</div>
      		</div>
      		<div class="order-1 sm:order-2 flex justify-center sm:justify-end">
      			<div class="flex flex-wrap gap-1 items-center justify-center">
					{SOCIALS.map((SOCIAL) => (<a href={SOCIAL.HREF} target="_blank" aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`} class="group inline-flex text-center items-center justify-center w-9 h-9 rounded-full text-[var(--color-muted)] hover:text-[var(--color-fg)] hover:bg-[var(--color-hover)] transition"><i class={`text-lg ${SOCIAL.ICON}`}></i></a>))}
				</div>
      	</div>
    </div>
</footer>

