---
// src/components/Footer.astro
import { SITE, SOCIALS } from "../consts"

const currentYear = new Date().getFullYear();
---

<footer class="border-t border-[var(--color-border)]">
  <div class="container mx-auto py-8 flex flex-col gap-2">
    <div class="flex justify-between items-center flex-wrap">
      <div class="flex flex-col gap-4">
        <div class="flex flex-row gap-1">
          <a href="/terms" class="text-sm text-[var(--color-muted)] hover:text-[var(--color-fg)]">Ketentuan</a>
          <span class="px-1 text-sm text-[var(--color-muted)]">-</span>
          <a href="/privacy" class="text-sm text-[var(--color-muted)] hover:text-[var(--color-fg)]">Privasi</a>
        </div>
        <p class="text-sm text-[var(--color-muted)] text-center sm:text-left">
          &copy; {currentYear} <a href="/" class="text-sm text-[var(--color-muted)] hover:text-[var(--color-fg)]">{SITE.TITLE}</a>. All rights reserved.
        </p>
      </div>
      <div class="flex justify-between items-center flex-wrap">
        <div class="flex flex-col">
          <div class="flex flex-row gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <a href={SOCIAL.HREF} target="_blank" aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`} class="group text-[var(--color-muted)] size-10 rounded-full p-2 flex items-center justify-center hover:bg-[var(--color-hover)] hover:text-[var(--color-fg)]">
                  <i class={`text-xl ${SOCIAL.ICON}`}></i>
                </a>
              ))
            }
          </div> 
        </div>
      </div>
    </div>
  </div>
</footer>