---
// src/components/Header.astro
import { Image } from 'astro:assets';
import { con } from "../lib/utils"
import { SITE, LINKS } from "../consts";
import Container from "./Container.astro";
import Logo from '../assets/bimaakbar-logo.png'

const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
---

<header id="header" aria-label="Base Header" class="fixed top-0 z-50 bg-transparent border-b border-transparent backdrop-blur-lg">
  <Container size="md">
    <div class="flex w-full items-center justify-between py-4 h-16 gap-4">
      <div class="flex-row items-center h-full hidden md:block">
        <a href="/" aria-label={`Logo ${SITE.title}`} class={con("flex md:block", "p-1 items-center text-center", "stroke-[var(--color-muted)] hover:stroke-[var(--color-fg)]", "cursor-pointer")}>
          <Image src={Logo} alt={SITE.title} width={24} height={24} loading="eager" class="dark:invert" />
        </a>
      </div>
      <nav class="hidden md:flex flex-1 items-center justify-start text-sm">
         {LINKS.map((LINK) => (
          <a
            href={LINK.href}
            class={con(
              "flex items-center justify-center text-md px-2 py-1 gap-16 rounded-full", 
              "text-[var(--color-muted)] hover:text-[var(--color-fg)]", 
              "hover:bg-[var(--color-hover)]", 
              pathname === LINK.href || "/" + subpath?.[0] === LINK.href ? 
              "pointer-events-none text-[var(--color-fg)]":"")}
            aria-label={`Menu ${LINK.text}`}>
            {LINK.text}
          </a>
        ))}
      </nav>
      <div class="items-center justify-center md:hidden h-full">
        <a href="/" aria-label={`Logo ${SITE.title}`} class={con("flex md:block", "p-1 items-center text-center", "stroke-[var(--color-muted)] hover:stroke-[var(--color-fg)]", "cursor-pointer")}>
          <Image src={Logo} alt={SITE.title} width={24} height={24} loading="eager" class="dark:invert"/>
        </a>
      </div>
      <div class="flex items-center h-full">
        <button id="header-drawer-button" aria-label={`Toggle drawer open and closed`} class={con("flex md:hidden", "size-9 rounded-full p-2 items-center justify-center", "bg-transparent hover:bg-[var(--color-hover)]", "stroke-[var(--color-fg)] hover:stroke-[var(--color-fg)", "border border-[var(--color-border)]", "cursor-pointer")}>
        <svg id="drawer-open" stroke="var(--foreground)" class="size-full pointer-events-none">
          <use href="/ui.svg#menu"></use>
        </svg>
        <svg id="drawer-close" stroke="var(--foreground)" class="size-full pointer-events-none">
          <use href="/ui.svg#close"></use>
        </svg>
      </button>
      </div>
    </div>
  </Container>
</header>
