---
// src/components/Socials.astro
import { SITE, SOCIALS } from "../consts"
---

<div class="flex flex-col w-fit gap-2">
  <h6 class="text-sm md:text-md font-bold text-[var(--color-fg)] tracking-tight">
    Sosial
  </h6>
  {
    SOCIALS.map((social) => (
      <a
        href={social.HREF}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={`${SITE.TITLE} on ${social.NAME}`}
        class="group flex items-center gap-1 transition-colors duration-200">
        <div class="flex-shrink-0">
          <i class={`text-sm text-[var(--color-muted)] group-hover:text-[var(--color-fg)] transition-colors duration-200 ${social.ICON}`}></i>
        </div>
        <p class="text-sm text-[var(--color-muted)] group-hover:text-[var(--color-fg)] transition-colors duration-200">{social.NAME}</p>
      </a>
    ))
  }
</div>