---
// src/pages/projects/[...slug].astro
export const prerender = true;
import { getCollection } from 'astro:content';
import ArticleLayout from '../../layouts/ArticleLayout.astro';
import Container from '../../components/Container.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import ArticleTopLayout from '../../layouts/ArticleTopLayout.astro';
import BottomLayout from '../../layouts/BottomLayout.astro';
import ArticleBottomLayout from '../../layouts/ArticleBottomLayout.astro';
import TableOfContents from '../../components/TableOfContents.tsx';
import BackToTop from '../../components/BackToTop.tsx';

export async function getStaticPaths() {
  const allProjects = await getCollection('projects');
  return allProjects.map(projects => ({
    params: { slug: projects.slug },
    props: { projects },
  }));
}

const { projects } = Astro.props;
const { title, summary } = projects.data;
const { Content, headings } = await projects.render();
---

<ArticleLayout title={title} description={summary}>
  <Container size="md">
    <div class="flex justify-center">
      <div class="w-full max-w-auto">
        <ArticleTopLayout entry={projects} />
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-4 items-start">
      <div class="flex-grow w-full max-w-screen">
        <div class="flex flex-col md:flex-row gap-16 items-start w-full flex-grow">
          <article class="prose flex-grow">
            <Content />
          </article>
          <div class="sticky bg-[var(--color-bg)] items-center justify-center md:justify-start flex flex-row md:flex-col bottom-0 md:top-16 md:w-auto w-full h-fit md:flex-shrink-0 gap-2 py-4">
            <div class="flex md:flex-col justify-start overflow-x-hidden w-screen md:w-auto">
            	<div class="flex-grow items-start w-full">
              	<TableOfContents headings={headings} client:load />
              </div>
              <div class="flex justify-end flex-shrink-0 md:justify-start">
                <BackToTop client:visible />
              </div>
            </div>
          </div>
        </div>
        <ArticleBottomLayout entry={projects} />
      </div>
    </div>
  </Container>
</ArticleLayout>