---
import { getCollection } from "astro:content";
import Layout from '../../layouts/Layout.astro';
import Container from "../../components/Container.astro";
import { PROJECTS } from "../../consts";
import ProjectFilter from "../../components/ProjectFilter.tsx";

const allProjects = await getCollection('projects');

const allTags = [
  ...new Set(allProjects.flatMap(entry => entry.data.tags || []))
].sort();
---
<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <section class="py-16">
    <Container size="xl">
      <div class="flex flex-col justify-start text-left">
        <h1 class="text-3xl font-semibold text-[var(--color-fg)]">
          {PROJECTS.TITLE}
        </h1>
        <span class="mt-1">
          {PROJECTS.DESCRIPTION}
        </span>
      </div>
    </Container>
  </section>
  <ProjectFilter projects={allProjects} tags={allTags} client:load />
</Layout>
