---
import { fetchBlog } from '../../utils/fetchBlog';
import BaseLayout from '../../layouts/BaseLayout.astro';
import TopLayout from '../../layouts/TopLayout.astro';
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import {Tags} from '../../consts';

const allPosts = await fetchBlog();
const tagMap = new Map();

for (const post of allPosts) {
  if (Array.isArray(post.tags)) {
    post.tags.forEach(tag => {
      const count = tagMap.get(tag) || 0;
      tagMap.set(tag, count + 1);
    });
  }
}

const tags = Array.from(tagMap.entries()).sort((a, b) => b[1] - a[1]);
const tagsMessages = 'Tidak ada tag yg digunakan'
---
<BaseLayout title={Tags.title} description={Tags.description}>
  <Container size="md">
    {tags.length > 0 ? (
      <div class="flex flex-wrap gap-3">
        <TopLayout>
          <Hero title={Tags.title} subtitle={Tags.description}/>
        </TopLayout>
        {tags.map(([tag, count]) => (
          <a href={`/tag/${encodeURIComponent(tag)}`}
            class={`text-sm px-3 py-2 rounded-full border border-[var(--color-border)] bg-[var(--color-bg-secondary)] hover:bg-[var(--color-hover)] transition-all duration-300 ${
            count >= 5 ? 'text-lg' : count >= 3 ? 'text-md' : 'text-sm'
            }`}>
            #{tag} <span class="text-[var(--color-fg)]">({count})</span>
          </a>
        ))}
      </div>
      ) : (
      <main class="flex-1 flex-col justify-center items-center text-center">
        <p class="text-xl text-center text-[var(--color-muted)] mb-6">{tagsMessages}</p>
        <a href="/" class="group flex w-auto items-center rounded-xl bg-[var(--color-bg)] border border-[var(--color-border)] px-2 py-1 text-[var(--color-fg)] hover:bg-[var(--color-hover)]">
          <div class="flex w-full items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="items-center stroke-[var(--color-muted)] group-hover:stroke-[var(--color-fg)]">
              <line x1="19" y1="12" x2="5" y2="12" class="scale-x-0 group-hover:scale-x-100 translate-x-3 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
              <polyline points="12 19 5 12 12 5" class="translate-x-1 group-hover:translate-x-0 transition-all duration-300 ease-in-out" />
            </svg>
            <span class="w-full items-center">
              Kembali ke Beranda
            </span>
          </div>
        </a>
      </main>
    )}
  </Container>
</BaseLayout>
