---
//src/layout/ArticleTopLayout.astro
import type { CollectionEntry} from "astro:content";
import { formatDate, formatUpdateDate, readingTime, getBreadcrumbs } from "../lib/utils";
import {Image} from 'astro:assets';
import {SITE} from '../consts'
import BimaAkbar from '../assets/avatar.jpeg';

type Props = {
  entry: CollectionEntry<"blog">,
  
};

const { entry } = Astro.props;
const { collection, data, body } = entry;
const { title, description, heroImage,  } = data;
const { slug } = entry;

const breadcrumbs = getBreadcrumbs(slug);
  
---
<div class="flex flex-col items-center text-center justify-center">
  <nav class="items-center text-sm text-[var(--color-muted)] mb-2 overflow-hidden">
    <ol class="flex items-center text-center space-x-1 border border-[var(--color-border)] rounded-full px-2 py-1">
      <li>
        <a href="/" class="uppercase hover:text-[var(--color-fg)] text-[var(--color-muted)]">
          <i class="ri-home-5-line text-md pr-1"></i>Home</a>
      </li>
      <li><i class="ri-arrow-right-s-line"></i></li>
      <li>
        <a href={`/${collection}`} class="uppercase hover:text-[var(--color-fg)] text-[var(--color-muted)]">
          {collection}
        </a>
      </li>
      {breadcrumbs.map((crumb, i) => (
        <>
          <li><i class="ri-arrow-right-s-line"></i></li>
          <li class={i === breadcrumbs.length - 1 ? "uppercase hover:underline text-[var(--color-fg)] font-medium truncate max-w-[150px] cursor-pointer" : "text-[var(--color-muted)]"}>
            {i === breadcrumbs.length - 1 ? (
              <span>{crumb.name}</span>
            ) : (
              <a href={`/${collection}${crumb.href}`} class="uppercase hover:underline">
                {crumb.name}
              </a>
            )}
          </li>
        </>
      ))}
    </ol>
  </nav> 
  <div class="py-6 flex flex-col items-center text-center justify-center">
    <div class="prose flex flex-col items-center text-center justify-center">
      <h1 class="py-2 font-semibold">
        {title}
      </h1>
    </div>
    <div class="flex flex-row items-center text-center justify-center w-full gap-2">
      <Image src={BimaAkbar} width={20} height={20} sizes='4px' alt={SITE.TITLE} class="border border-[var(--color-border)] rounded-full"  loading="eager" />
      <span>{SITE.AUTHOR}</span>
    </div>
    <div class="flex py-2 gap-2 items-center w-full">
      <div class="flex flex-grow text-sm gap-1 items-center text-[var(--color-muted)]">
        <i class="ri-timer-flash-line text-lg"></i>
        <span>{readingTime(body)}</span>
      </div>
      <div class="flex flex-shrink-0 text-sm gap-2 items-center flex-wrap text-[var(--color-muted)]">
        <span>{formatDate(data.pubDate)}</span>
      </div>
    </div>
    <div class="prose flex flex-col items-center text-center justify-center">
      {description && (<summary>{description}</summary>)}
      {heroImage && <Image src={heroImage} alt={title} width="960"height="480" />}
      {data.updatedDate && data.updatedDate.getTime() !== data.pubDate.getTime() && (
        <>
          <span class="mx-1">•</span>
          <span>Diperbarui: {formatUpdateDate(data.updatedDate)}</span>
        </>
      )}
    </div>
  </div>
</div>